<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.linxiweb.dao.LoveMusicMapper">

    <select id="getList" resultType="com.yy.linxiweb.po.Music">
        select m.* from love_music lm left join music m on m.id = lm.musicId;
    </select>
</mapper>
